<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link href="https://cdn.jsdelivr.net/npm/swiffy-slider@1.6.0/dist/css/swiffy-slider.min.css" rel="stylesheet" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <title>Our Library</title>

  </head>


  <body style="background-color : #e4e4e4">
    <nav class="navbar navbar-expand-lg navbar-light" style="background: linear-gradient(135deg, #ff6996 5%, #fba7b0 100%);">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'homepage' %}">Our Library</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a
                class="nav-link text-dark"
                aria-current="page"
                href="{% url 'homepage' %}"
                >Home</a
              >
            </li>
          </ul>
          <div class="d-flex">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              {% if request.user.is_authenticated %}
              <li class="nav-item mx-3">
                <a
                  class="nav-link text-dark"
                  href="{% url 'deposit_money' %}"
                  >Deposit Money</a>
              </li>
              <li class="nav-item mx-3">
                <a
                  class="nav-link text-dark"
                  >{{ request.user.first_name }} (balance : ${{request.user.account.balance}})</a>
              </li>
              <li class="nav-item mx-3">
                <a
                  class="nav-link text-dark"
                  href="{% url 'profile' %}"
                  >Profile</a
                >
              </li>
              <li class="nav-item mx-3">
                <a
                  class="nav-link  text-dark"
                  href="{% url 'logout' %}"
                  >Logout</a
                >
              </li>
              {% else %}
              <li class="nav-item mx-3">
                <a
                  class="nav-link text-dark"
                  href="{% url 'singup' %}"
                  >Register</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link text-dark"
                  href="{% url 'login' %}"
                  >Login</a
                >
              </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </div>
    </nav>

    {% for i in messages %}
    <div class="">
      <h3 class="text-{{i.tags}}">{{i}}</h3>
    </div>

    
    {% endfor %} 
    
    {% block content %} {% endblock %}

    {% comment %} footer {% endcomment %}
    <!-- Remove the container if you want to extend the Footer to full width. -->
<div class="mt-3">

  <footer class="text-white text-center text-lg-start bg-dark">
    <!-- Grid container -->
    <div class="container p-4">
      <!--Grid row-->
      <div class="row mt-4">
        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4 mb-md-0 ">
          <h5 class="text-uppercase mb-4 pb-1 ">Contact</h5>

          <ul class="fa-ul" style="margin-left: 1.65em;">
            <li class="mb-3">
              <span class="fa-li"><i class="fas fa-home"></i></span><span class="ms-2">Airport, Rajshahi.</span>
            </li>
            <li class="mb-3">
              <span class="fa-li"><i class="fas fa-envelope"></i></span><span class="ms-2">muzammalraj@gmail.com</span>
            </li>
            <li class="mb-3">
              <span class="fa-li"><i class="fas fa-phone"></i></span><span class="ms-2">+8801722202101</span>
            </li>
          </ul>
        </div>
        <!--Grid column-->
        

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4 mb-md-0 text-center">
          <h5 class="text-uppercase mb-4">Opening hours</h5>

          <table class="table text-center text-white">
            <tbody class="fw-normal">
              <tr>
                <td>Mon - Thu:</td>
                <td>8am - 9pm</td>
              </tr>
              <tr>
                <td>Fri - Sat:</td>
                <td>8am - 1am</td>
              </tr>
              <tr>
                <td>Sunday:</td>
                <td>9am - 10pm</td>
              </tr>
            </tbody>
          </table>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-12 mb-4 mb-md-0 text-center">
          <h5 class="text-uppercase mb-4">About Library</h5>

          <p>
            Library management systems help libraries keep track of their documents inventory and loans, and member subscriptions and profiles, sometimes for multiple physical locations.
          </p>

          <div class="mt-4">
            <!-- Facebook -->
            <a
            data-mdb-ripple-init
              class="btn text-white btn-floating m-1"
              style="background-color: #3b5998;"
              href="https://web.facebook.com/?_rdc=1&_rdr" target="_blank" rel="noopener noreferrer"
              role="button"
              ><i class="fab fa-facebook-f"></i
            ></a>
      
            <!-- Twitter -->
            <a
              data-mdb-ripple-init
              class="btn text-white btn-floating m-1"
              style="background-color: #55acee;"
              href="https://twitter.com/" target="_blank" rel="noopener noreferrer"
              role="button"
              ><i class="fab fa-twitter"></i
            ></a>
      
            <!-- Google -->
            <a
              data-mdb-ripple-init
              class="btn text-white btn-floating m-1"
              style="background-color: #dd4b39;"
              href="https://www.google.com/" target="_blank" rel="noopener noreferrer"
              role="button"
              ><i class="fab fa-google"></i
            ></a>
      
            <!-- Instagram -->
            <a
              data-mdb-ripple-init
              class="btn text-white btn-floating m-1"
              style="background-color: #ac2bac;"
              href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer"
              role="button"
              ><i class="fab fa-instagram"></i
            ></a>
          </div>
        </div>
        <!--Grid column-->
        
      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2023 Copyright:
      <a class="text-white" href="">muzammalraj</a>
    </div>
    <!-- Copyright -->
  </footer>

</div>
<!-- End of .container -->

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>

    <script src="https://cdn.jsdelivr.net/npm/swiffy-slider@1.6.0/dist/js/swiffy-slider.min.js" crossorigin="anonymous" defer></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
  </body>
</html>
